/* MENU */

a:visited, a:hover, a:focus, a:active {
    text-decoration: none !important;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 1;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
    color: inherit;
}

@media (min-width: 768px){
    .navbar-nav>li {
        float: none;
        display: inline-block;
        height: 50px;
    }
}

#menu-item-38 {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    display:  none;
}

.navbar .navbar-nav li a::after {
    content: '';
    display: block;
    width: 0;
    margin:auto;
    height: 2px;
    background: #F1B910;
    transition: width .5s;
}

.navbar .navbar-nav li#menu-item-38 a::after {
    content: '';
    display: block;
    width: 0;
    margin:auto;
    height: 2px;
    background: #F1B910;
    transition: width .5s;
}

.navbar .navbar-nav li.active a::after {
    width: 100%;
}

.navbar .navbar-nav li a:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}

.navbar .navbar-nav li a {
    color: #2B2B2B !important;
}


.transparent {
    background-color: transparent;
    border-color: transparent;
    z-index: 16;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

/* MENU */

/* ACCUEIL */

#accueil-background {
    background-image: url("../img/301H.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
}

.titre-background {
    text-align: center;
    padding-top: 15%;
}

h3 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 46px;
    color: #2B2B2B;
}

h3::after {
    content: '';
    display: block;
    width: 80px;
    margin: auto;
    height: 6px;
    background: #F1B910;
    margin-top: 10px;
}

.appel-contact {
    background-image: url("../img/div-contact.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    height: 300px;
}

.pattern {
    background: url("../img/pattern.png");
    opacity: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pattern h4 {
    padding-top: 70px;
}

.pattern .btn-div-contact {
    margin-top: 40px;
}

h4 {
    text-align: center;
    color: #fff;
}

.btn-div-contact {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 200px;
    padding: 10px 20px 10px 20px;
    border: solid white 2px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: linear;
 }

.btn-div-contact:hover {
    background: white;
    color: black;
    text-decoration: none;
}

.presentation-intro {
    background-color: lightgrey;
}

.presentation-service {
    text-align: center;
    background-color: white;
}

.presentation-service-bloc {
    width: 70%;
    margin: auto;
}

.presentation-service-img {
    border: 2px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: yellowgreen;
    padding-top: 7%;
    color: white;
}

.presentation-service-img:hover {
    background-color: green;
    transition: all 0.3s;
}

/*.fa-star-o {
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}*/

h5 {
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 8%;
}

p.presentation-service-texte {
    border: 2px solid transparent;
    background-color: white;
    padding: 10%;
}

p.paragraphe {
    width: 70%;
    margin: auto;
}

.presentation-therapeute {
    padding-bottom: 100px;
}

.presentation-therapeute img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

/*SACHA*/
/*SLIDER*/
.caroussel{
    height: 80vh;
    padding: 0px;

}
.carousel-inner img{
    max-height:80vh;
    width: 100%;

}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.glyphicon-menu-left {
    background: url("../img/pattern.png");
    margin-top: 250px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #F1B910;
    right: 42%;
}
.glyphicon-menu-right {
    background: url("../img/pattern.png");
    margin-top: 250px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #F1B910;
    left: 42%;
}
.glyphicon-menu-right:hover{
    opacity: 1;
}
.glyphicon-menu-left:hover{
    opacity: 1;
}
.navbar-collapse{
    padding: 0px;
}

/* FIN ACCUEIL */



